<div class='control'>
  <button mat-raised-button color='primary' (click)='openSimulationConfigDialog()'>Start new Simulation</button>
  <div class='turn-input'>
    <mat-form-field>
      <mat-label>Turn</mat-label>
      <input matInput type='number' min='0' [max]='maxTurn' [(ngModel)]='currentTurn'>
    </mat-form-field>
    <mat-slider [thumbLabel]='true' min='0' [max]='maxTurn' [(ngModel)]='currentTurn'></mat-slider>
  </div>
  <div class='view-input'>
    <table>
      <tr>
        <td style='font-size: small'>
          <mat-form-field>
            <mat-label>Longitude</mat-label>
            <input matInput type='number' [(ngModel)]='currentLon'>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Latitude</mat-label>
            <input matInput type='number' [(ngModel)]='currentLat'>
          </mat-form-field>
        </td>
        <td>
          <button mat-raised-button (click)='this.currentLat = this.currentLat - 1;'>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </td>
        <td style='display: flex; flex-direction: column; gap: 5px'>
          <button mat-raised-button (click)='this.currentLon = this.currentLon + 1;'>
            <mat-icon>keyboard_arrow_up</mat-icon>
          </button>
          <button mat-raised-button (click)='this.currentLon = this.currentLon - 1;'>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
        </td>
        <td>
          <button mat-raised-button (click)='this.currentLat = this.currentLat + 1;'>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div class='zoom-Input'>
    <table>
      <tr>
        <td>
          <mat-form-field>
            <mat-label>Zoom in %</mat-label>
            <input matInput type='number' min='0' [(ngModel)]='currentZoom'>
          </mat-form-field>
        </td>
        <td style='display: flex; flex-direction: column'>
          <button mat-icon-button (click)='this.currentZoom = this.currentZoom + 10;'>
            <mat-icon>zoom_in</mat-icon>
          </button>
          <button mat-icon-button [disabled]='this.currentZoom < 10'
                  (click)='this.currentZoom = this.currentZoom - 10;'>
            <mat-icon>zoom_out</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </div>
  <button mat-raised-button color='primary' [disabled]='!simConfig' (click)='refreshView()'>
    Refresh View
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div class='map-container'>
  <div class='map-frame'>
    <img id="myimage" [src]='thumbnail' />
  </div>
</div>
