<div class='viewer'>
  <div class='control'>
    <button mat-raised-button color='primary' (click)='openSimulationConfigDialog()'>Start new Simulation</button>
    <app-turn-input (onChange)='this.refreshView()'></app-turn-input>
    <app-view-input (onChange)='this.refreshView()'></app-view-input>
    <div class='horiontal-flex'>
      <app-zoom-input (onChange)='this.refreshView()'></app-zoom-input>
      <button mat-raised-button color='primary' [class.spinner]="refreshing"  [disabled]='!activeSimulation || refreshing' (click)='refreshView()'>
        Refresh View
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <app-meta-info-box></app-meta-info-box>
  </div>

  <div class='map-container'>
      <img id="myimage" [src]='thumbnail' />
  </div>
</div>
