.map-container {
  height: 90%;
  margin: 10px;
}

.map-frame {
  border: 2px solid;
  border-color: indigo;
  height: 100%;
}

#map {
  z-index: 90;
  height: 100%;
}
button {
  padding: 5px;
  margin: 15px;
}
.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

mat-form-field {
  width: 50px;
}
