mat-form-field {
  width: 250px;
  padding: 5px;
}

.meta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

textarea {
  resize: none !important;
}

mat-spinner {
  margin: 30px;
}
