
.header {
  position: fixed;
  top:0;
  width:100%;
  display: flex;
  align-items: center;
}
img.logo {
  margin-top: 10px;
  height: 100px;
}
button {
  padding: 10px;
  margin-left: 30px;
  font-size: 17px;
}
.navigation {
  float: left;
}

.information {
  float: right;
  margin-top: 35px;
  margin-right: 20px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  margin-right: 30px;
}
